/* Media query for small screens (max-width: 480px) */
@media screen and (max-width: 480px) {
    /* CSS rules here */
}

/* Media query for medium screens (max-width: 768px) */
@media screen and (max-width: 768px) {
    /* CSS rules here */
}

/* Media query for large screens (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    /* CSS rules here */
}

/* Media query for extra large screens (max-width: 1200px) */
@media screen and (max-width: 1200px) {
    /* CSS rules here */
}

/* Media query for extra extra large screens (max-width: 1400px) */
@media screen and (max-width: 1400px) {
    /* CSS rules here */
}
.bigChartBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bigChartBox h1 {
    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }
}

.bigChartBox .chart {
    width: 100%;
    height: 300px;
}